 
/* ====== Global css ====== */
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
}
 
.nav-dropdown-2 {
  display: none;
}

 button.blue-btn {
  width: 25rem;
  height: 5rem;
  background-color: $blue;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.front-page {
  // display: none;
}

 .logo {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    color: #fff;
    position: relative;

    .p-1 {
      font-size: 4.5rem;
      margin-right: 1rem;
      position: relative;
      z-index: 10;
    }

    .p-2 {
      font-size: 4.5rem;
      color: #bbb;
      position: absolute;
      top: .4rem;
      left: .5rem;
    }
  }